# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-arm64
aiohttp
aiosignal
appnope
argon2-cffi
argon2-cffi-bindings
arrow-cpp
astroid
asttokens
async-timeout
attrs
autopep8
aws-c-auth
aws-c-cal
aws-c-common
aws-c-compression
aws-c-event-stream
aws-c-http
aws-c-io
aws-c-mqtt
aws-c-s3
aws-c-sdkutils
aws-checksums
aws-crt-cpp
aws-sdk-cpp
backcall
backports
backports.functools_lru_cache
black
bleach
brotli
brotli-bin
brotlipy
bzip2
c-ares
ca-certificates
catalogue
certifi
cffi
charset-normalizer
click
colorama
cryptography
cycler
cymem
cython-blis
dataclasses
datasets
decorator
defusedxml
dill
entrypoints
executing
filelock
flake8
flit-core
fonttools
freetype
frozenlist
fsspec
future
gflags
glog
grpc-cpp
huggingface_hub
icu
idna
importlib-metadata
importlib_metadata
importlib_resources
ipykernel
ipython
ipython_genutils
ipywidgets
isort
jbig
jedi
jinja2
joblib
jpeg
jsonschema
jupyter
jupyter_client
jupyter_console
jupyter_contrib_core
jupyter_contrib_nbextensions
jupyter_core
jupyter_highlight_selected_word
jupyter_latex_envs
jupyter_nbextensions_configurator
jupyterlab_pygments
jupyterlab_widgets
jupyterthemes
kiwisolver
krb5
langcodes
lazy-object-proxy
lcms2
lerc
lesscpy
libblas
libbrotlicommon
libbrotlidec
libbrotlienc
libcblas
libcurl
libcxx
libdeflate
libedit
libev
libevent
libffi
libgfortran
libgfortran5
libiconv
liblapack
libnghttp2
libopenblas
libpng
libprotobuf
libsodium
libssh2
libthrift
libtiff
libutf8proc
libwebp-base
libxml2
libxslt
libzlib
llvm-openmp
lxml
lz4-c
markupsafe
matplotlib
matplotlib-base
matplotlib-inline
mccabe
mistune
multidict
multiprocess
munkres
murmurhash
mypy_extensions
nbclient
nbconvert
nbformat
ncurses
nest-asyncio
ninja
nltk
notebook
numpy
olefile
openjpeg
openssl
orc
packaging
pandas
pandocfilters
parquet-cpp
parso
pathspec
pathy
patsy
pexpect
pickleshare
pillow
pip
platformdirs
pluggy
ply
preshed
prometheus_client
prompt-toolkit
prompt_toolkit
ptyprocess
pure_eval
pyarrow
pycodestyle
pycparser
pydantic
pydocstyle
pyflakes
pygments
pylint
pyopenssl
pyparsing
pyrsistent
pysocks
python-dateutil
python-jsonrpc-server
python-language-server
python-xxhash
python_abi
pytorch
pytz
pyyaml
pyzmq
re2
readline
regex
requests
rope
sacremoses
scikit-learn
scipy
seaborn
seaborn-base
send2trash
setuptools
shellingham
six
sleef
smart_open
snappy
snowballstemmer
spacy
spacy-legacy
spacy-loggers
sqlite
srsly
stack_data
statsmodels
terminado
testpath
thinc
threadpoolctl
tk
tokenizers
toml
tomli
torchvision
tornado
tqdm
traitlets
transformers
typed-ast
typer
typing-extensions
typing_extensions
tzdata
ujson
unicodedata2
urllib3
wasabi
wcwidth
webencodings
wheel
widgetsnbextension
wrapt
xxhash
xz
yaml
yapf
yarl
zeromq
zipp
zlib
zstd
